<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Misuka - Nhận mua hàng từ nước ngoài về việt nam</title>
  <link rel="apple-touch-icon" sizes="57x57" href="~/Content/img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="~/Content/img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="~/Content/img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="~/Content/img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="~/Content/img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="~/Content/img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="~/Content/img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="~/Content/img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="~/Content/img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="~/Content/img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="~/Content/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="~/Content/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="~/Content/img/favicon-16x16.png">
  <link href="~/Content/admin/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/Content/admin/font-awesome/css/font-awesome.css" rel="stylesheet">

  <link href="~/Content/admin/css/animate.css" rel="stylesheet">
  <link href="~/Content/admin/css/style.css" rel="stylesheet">
  <link href="~/Content/css/bootbox/bootbox.css" rel="stylesheet" type="text/css" />
  <link href="~/Scripts/plugins/pnotify/pnotify.custom.css" rel="stylesheet" type="text/css" />
  <link href="~/Scripts/plugins/waitMe/waitMe.css" rel="stylesheet" type="text/css" />
  <link href="~/Scripts/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
  <script src="~/Scripts/utils/common.js" type="text/javascript"></script>

  @RenderSection("Css", false);
</head>

<body class="gray-bg">

  <div class="middle-box text-center loginscreen animated fadeInDown">
    @RenderBody()
  </div>

  <!-- Mainly scripts -->
  <script src="~/Content/admin/js/jquery-2.1.1.js"></script>
  <script src="~/Content/admin/js/bootstrap.min.js"></script>

  <script scr="~/Scripts/magnific-popup/magnific-popup.js" type="text/javascript"></script>
  <script scr="~/Scripts/plugins/pnotify/pnotify.custom.js" type="text/javascript"></script>
  <script scr="~/Scripts/plugins/waitMe/waitMe.js" type="text/javascript"></script>
  <script scr="~/Scripts/plugins/bootbox/bootbox.js" type="text/javascript"></script>
  <script scr="~/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>
  <script src="~/Scripts/utils/common.js" type="text/javascript"></script>
  <script src="~/Scripts/language/date-en-US.js" type="text/javascript"></script>
  <script src="~/Scripts/language/texts.en-US.js" type="text/javascript"></script>
  @RenderSection("Scripts", false);
</body>
</html>
