<div class="modal inmodal" id="modalPopup" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div id="modalBody" class="modal-content animated fadeIn">
            
        
        </div>
    </div>
</div>
